<html>
  <head>
    {% comment %} shopify,plugin to inject script {% endcomment %}
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'argoid-factes.js' | asset_url | script_tag }}
  </head>
  <body>
    {% comment %} template data will be plugin {% endcomment %}

    {% render 'header' %}

    <div class="container">
      <div class="templates__container">
        {{ content_for_layout }}
      </div>
    </div>


    {{ 'script.js' | asset_url | script_tag }}
  </body>
</html>