<h1>{{ page.title }}</h1>
<div>{{ page.content }}</div>

{% for collection in collections %}
  <div>{{- collection.title | link_to: collection.url }}</div>
  <hr>
  {% for filter in collection.filters %}
    <div>{{ filter.label }}</div>
  {% endfor %}
  <hr>
  {% for sort_option in collection.sort_options %}
    <div>{{ sort_option.name }}</div>
    <div>{{ sort_option.value }}</div>
  {% endfor %}
  <hr>
  {% for product in collection.products %}
    <div>{{ product.title }}</div>
  {% endfor %}
  <br>
  <br>
  <br>
{% endfor %}